
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif ;
  color: #ffffff;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("src/img/background.webp");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("src/img/bgstars.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("src/img/monster.png");
  min-height: 400px;
}

.captions {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #0493be;
}

.captions span.borders {
  background-color: #0493be;
  color: #fff;
  padding: 18px;
  font-size: 50px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.text-description{
    color: #777; 
    background-color: transparent; 
    text-align: center; 
    padding: 50px 80px; 
    text-align: justify; 
    border: 5px solid black; 
    border-radius: 10px; 
    margin: 0 auto; 
    max-width: 800px;
}

.text-description-banner{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
  
  @media (max-width: 768px) {
    .text-description{
        color: #777; 
        background-color: transparent; 
        text-align: center; 
        padding: 50px 20px; 
        text-align: justify; 
        border: 5px solid black; 
        border-radius: 10px; 
        margin: 0 auto; 
        max-width: 800px;
    }
    .text-description-banner{
        color:#ddd;
        background-color:#282E34;
        text-align:center;
        padding:50px 20px;
        text-align: justify;
    }
  }
 
  